{% load static %}
<title>GreenLink - Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<!--FlexSlider-->
	<link rel="stylesheet" href={% static "css/flexslider.css" %} type="text/css" media="screen" />
<!--//FlexSlider-->

<link href="{% static "css/lsb.css"%}" rel="stylesheet" type="text/css"><!-- gallery -->
 <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- custom css theme files -->
	<link rel="stylesheet" href={% static "css/bootstrap.min.css" %} type="text/css" media="all">
	<link rel="stylesheet" href={% static "css/font-awesome.min.css"  %}/>
	<link rel="stylesheet" href={% static "css/style.css" %} type="text/css" media="all">
    <link rel="stylesheet" href={% static "css/login.css" %} type="text/css" media="all">
<!-- //custom css theme files -->

<!-- google fonts -->

<!-- //google fonts -->

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<div class="w3l-banner">
<div class="wthree-dot">
		<!-- nav -->
		<div class="header w3layouts">
				<div class="container-fluid">
					<nav class="navbar navbar-default">
						<div class="navbar-header navbar-left">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<h1><a class="navbar-brand" href="/"><span>Green</span> Link</a></h1>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
							<nav>
								<ul class="nav navbar-nav">
                                    <li><a href="/form"> Aderir</a></li>
                                    <li><a href="/login" class="scroll">Login</a></li>
									<li class="active"><a href="/">Home</a></li>
									<li><a href="/" class="scroll">Acerca</a></li>
									<li><a href="/" class="scroll">Serviços</a></li>
									<li><a href="/" class="scroll">Equipa</a></li>



								</ul>

							</nav>
						<ul class="top-links social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
						</div>
					</nav>
				</div>
			</div>
		<!-- //nav -->

		<!-- //Header -->
		<div class="container" style="height: 400px">
			<div class="flexslider-info">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
							<div class="w3l-info">
								<h2>Bem Vindo à GreenLink</h2>
								<p>Energia solar do Séc. XXI</p>
								<ul>
									<li><a href="#contact" class="scroll w3l_contact">Contato</a></li>
								</ul>
							</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<div class="main" style="align-content: center">
    <p class="sign" align="center">Sign in</p>
    <form class="form1" method="post" action="/webapp/">
        {% csrf_token %}
        <input class="un " name="user" id="user" type="text" align="center" placeholder="Username">
        <input class="pass" name="pass" id="pass" type="password" align="center" placeholder="Password">
        <button class="submit" type="submit" align="center" placeholder="Log In">Log In</button>
        <p class="forgot" align="center"><a href="#">Forgot Password?</a></p>
        {% if error %}
            <p style="color: red; text-align: center; align-content: center"><strong>Wrong username or password</strong></p>
        {% endif %}
    </form>
    </div>
</body>

